body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}

#inProgress {
	top: 40px;
	right: 10px;
	position: absolute;
	color: black;
	z-index: 3000;
}

.navbar .btn {	
	margin-bottom: 0;	
}

.navbar input {
	height: 30px;
}

#error {
	margin: 10px;
	margin-top: 0;
}
.table {
	font-size: 12px;
}